body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: Arial, sans-serif;
}

#world {
    position: fixed;
    width: 100vw;
    height: 100vh;

    background-image: url("landscape.jpg");
    background-size: cover;
    background-position: center center;

    transform-origin: center center;

    transition: background-position 0.05s linear;
}

#ui {
    position: fixed;
    top: 20px;
    left: 20px;

    color: white;
    background: rgba(0, 0, 0, 0.5);

    padding: 15px 20px;
    border-radius: 10px;

    z-index: 10;
    user-select: none;
}
